@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
  --color-primary: #B82132;
  --color-secondary: #FFFEC4;
  --color-mustard: #FFDE59; 
}

.login-page {
  background-image: url('/images/bg.jpeg');
  background-position: center;
  background-size: cover;
}
